#container_aboutme a{
    color: var(--first-color);
    font-weight: bold;
}
#container_aboutme a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#container_cv{
    width: 100px;
    margin: 45px auto 0 auto;
    text-align: center;
}

#container_cv .cv_link{
    color: hsl(230, 75%, 15%);
    width: 120px;
    padding: .5rem 1rem;
    border: 2px solid var(--text-color);
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
  }

  #container_cv .cv_link:hover{
    color: var(--first-color);
    border: 2px solid var(--first-color);
    transition: 0.2s;
  }

  
#container_aboutme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - var(--header-height));
    padding-top: 100px;
    margin-bottom: 10px;
}

#aboutme_header h4{
    margin-bottom: 20px;
    font-size: 50px;
}

#aboutme_text{
    font-size: 20px;
}

#aboutme_text p{
    margin-bottom: 10px;
}

#container_skills{
    margin-top: 100px;
}

/*mobile devices */
@media screen and (max-width: 1023px) {
    #container_skills{
        margin-top: 60px;
    }

  }